.signin
  %h1 Hello, there!
  %p This is a simple message board created with Ruby, Rails and BackBone.js. Hope you have fun using it.
  %h3 To continue, Please sign in using 
  %a{:class => 'btn btn-primary btn-large', :href=>'/auth/twitter'} Twitter


  
