.signin
  %h1 Hello, there!
  %p This is a simple message board created with Ruby, Rails and BackBone.js. Give it a whirl!
  %a{:class => 'btn btn-primary btn-large', :href=>'/auth/twitter'} Sign in using Twitter


  
