<h2>Edit the Message</h2>
<form id="edit-message" name="message">
  <div class="field">
    <label for="title"> Title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="name"> Name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="message"> Message:</label>
    <input type="text" name="message" id="message" value="<%= message %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Submit" />
  </div>
</form>
