<h1>Listing messages</h1>

<table id="messages-table">
  <tr>
    <th>Title</th>
    <th>Name</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Message</a>