<h1>New message</h1>

<form id="new-message" name="message">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="message"> message:</label>
    <input type="text" name="message" id="message" value="<%= message %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Message" />
  </div>

</form>

<a href="#/index">Back</a>