<div class='messages-bar'>
  <div class='bar-head'>Posts</div>
  <a class='btn btn-primary btn-large' href="#/index">Back to Posts</a>
</div>

<div class='message-form'>
<h2>Submit a new Posting</h2>
<form id="new-message" name="message">
  <div class="left">
    <label for="title"> Title</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
    <label for="name"> Name</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>
  <div class="right">
    <label for="message"> Message</label>
    <textarea name="message" id="message"><%= message %></textarea>
  </div>
  <div class="actions">
    <input type="submit" value="Submit"/>
  </div>
</form>
</div>
