<div class='messages-bar'>
  <div class='bar-head'>Posts</div>
  <a class='btn btn-primary btn-large' href="#/index">Back to Posts</a>
</div>

<div class='message-sink'>
<p>
  <h2><%= title %></h2>
</p>
<p>
  <%= name %>
</p>
<p>
  <%= message %>
</p>
<a href="#/<%= id %>/edit" class="edit"><img src='/assets/edit.png' height='24' width='24'></img></a>
</div>

