<div class='messages-bar'>
  <span>Posts</span>
  <a class='btn btn-primary btn-large' href="#/index">Back to Posts</a>
</div>

<div class='message-sink'>
<p>
  <h2><%= title %></h2>
</p>
<p>
  <%= name %>
</p>
<p>
  <%= message %>
</p>
</div>

