.messages-list {
  margin: 0;
  padding: 0; 
  list-style-type: none;
  .message-container {
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 7px;
	border-radius: 7px;
	background: #DCDCDC;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.5em;
	a.edit {float:left;}
	a.destroy {float:right;}
	a.title {
	  color: #999;
	  font-weight: bold;
	}
	a.title:hover {
	  color: #fff;
	  text-decoration: none;
	}
  }
}

.messages-bar {
  height: 40px;
  padding: 10px;
  margin: 10px;
  background: #333;
  color: white;
  -moz-border-radius: 7px;
  border-radius: 7px;
  span {
    font-size: 1.5em;
    float: left;
    color: white; 
    vertical-align: middle;
  }
  a {float: right;}
}

.message-form {
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #DCDCDC;
  font-size: 2.5em;
  padding: 10px;
}

.message-sink {
  vertical-align: middle;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #DCDCDC;
  padding: 10px;
}

